* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
    font-weight: bolder;
    font-size: 42px;
}
h2 {
    color: orchid;
    font-weight: bold;
    font-size: 24px;
}
.recipe-name {
    background-color: aqua;
}
p {
    color: green;
}
ul {
    text-emphasis: open;
}